#board {
    margin: auto;
    margin-top: 20px;
}

div.info {
    margin-top: 15px;
    text-align: center;
}

div.info div {
    font-size: 120%;
    margin-bottom: 10px;
}

div.info div h3 {
    margin: 0;
}
